
 /*css para la pagina*/
body, h1, p{
  color: antiquewhite;
}
.navbar{
  background-color: rgb(87, 68, 68);
}
footer{
    background-color: rgb(87, 68, 68);
}

 .nav-link{
  font-size: 1.4em;
  color: antiquewhite;
 }

 .dev{
  font-size: 1.5em;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
 }
